@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@*https://bootsnipp.com/snippets/vl4R7#comments*@
<partial name="~/Views/Shared/SkeletonLoad/_loginSkeleton.cshtml" />
<br />
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="remember">Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form id="account" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						  <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"  placeholder="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                         <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="row align-items-center remember">
						 <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
					</div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<input id="login-submit" type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">

					Don't have an account? <br /> <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
<script src="~/lib/weatherUI/TweenMax.min.js"></script>
<script src="~/lib/weatherUI/hammer.min.js"></script>
<script src="~/lib/weatherUI/ScrollToPlugin.js"></script>
<script src="~/js/Index.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    setTimeout(function(){ $('.skeletonContainer').hide(); }, 2000);
</script>
}
